.ipynb_checkpoints
*/.ipynb_checkpoints/*
*__pycache__
__pycache__/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.tox/
.cache
.project
.pydevproject


