lmdb==1.4.1
ipython
matplotlib==3.9.2
networkx==2.8.8
numpy==1.24.1
ogb==1.2.0
omegaconf==2.3.0
optuna==3.5.0
pandas==2.2.3
parmap==1.7.0
Pillow==10.4.0
PyYAML==6.0.2
rdkit==2023.9.6
scikit_learn==1.3.2
scipy==1.14.1
streamlit==1.38.0
streamlit_ketcher==0.0.1
torch==2.4.0
pytorch_lightning
torch_geometric==2.6.1
tqdm==4.66.1
tensorboard
